
.sidebar {
    width: 50px;
    transition: width 0.3s ease;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #092948; 
    overflow: hidden;
}

.sidebar.expanded {
    width: 200px; 
}


.sidebar .nav-link {
    display: flex;
    align-items: center;
    padding: 0.75rem;
    border-radius: 0.5rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.sidebar .nav-link .icon {
    font-size: 1.5rem;
    margin-right: 0; 
}

.sidebar .nav-link .text {
    color: white;
    display: none;
}

.sidebar.expanded .nav-link .text,
.sidebar:hover .nav-link .text {
    display: inline-block;
    margin-left: 10px;
    color: white; 
}



.sidebar.expanded .nav-link .dropdown-icon,
.sidebar:hover .nav-link .dropdown-icon {
    display: inline; 
}


.sidebar .nav-link:hover {
    background-color: #34495e;
    color: #ffffff;
}

.sidebar .nav-link:hover .icon {
    color: #ffffff;
}

.sidebar .pin-button {
    position: absolute;
    top: 10px;
    left: 10px;
    background: none;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 1.5rem;
}


.main-content {
    margin-left: 50px; 
    transition: margin-left 0.3s ease;
    padding: 1rem;
}

.sidebar.expanded ~ .main-content {
    margin-left: 200px; 
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
}

header .input-group {
    width: 50%;
}

header .d-flex {
    align-items: center;
}

header .ms-3 {
    margin-left: 1rem;
}

.badge {
    background-color: #4caf50;
    padding: 2px 8px;
    border-radius: 12px;
    font-size: 0.8rem;
    margin-left: auto;
}

.alert-icon {
    color: #ff5252;
    margin-left: auto;
}
